{% extends 'default/base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Name</th>
                <th>NbDoors</th>
                <th>NbSeats</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.carCategory.name }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.nbDoors }}</td>
                <td>{{ car.nbSeats }}</td>
                <td>{{ car.cost }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
{% endblock %}
